<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key><string>com.tanuj.dormlockbridge</string>
  <key>CFBundleName</key><string>DormLockBridge</string>
  <key>CFBundleExecutable</key><string>DormLockBridge</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>LSUIElement</key><true/>
  <key>NSBluetoothAlwaysUsageDescription</key><string>Talks to the dorm-lock ESP32 over Bluetooth to move the servo.</string>
</dict>
</plist>
